:root{
    --ash-gray: #b4b8abff;
    --gunmetal: #153243ff;
    --indigo-dye: #284b63ff;
    --ivory: #f4f9e9ff;
    --baby-powder: #eef0ebff;
    
    --russian-violet: #241e4eff;
    --dark-red: #960200ff;
    --copper-red: #ce6c47ff;
    --sunglow: #ffd046ff;
    --medium-champagne: #eadaa2ff;
}

.primary {
    background-color:#2D3047;
}

.secondary {
    background-color: #93B7BE;
}

.third{
    background-color: #E0CA3C;
}

.fourth {
    background-color: #A799B7;
}

.fifth {
    background-color: #048A81;
}

.sixth {
    background-color: #3c5f5d;
}


html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

.image-full-width{
    width: 100%;
    height: auto;
}


/*--------------------- grid ----------------------- */
/* vh is Relative to 1% of the height of the viewport */

.app-layout {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  [one-eighty] 1fr
                            [one-eighty] 1fr
                            [one-eighty] 1fr;

    grid-template-rows: [banner-row] auto
                        [banner-row] auto
                        [banner-row] auto
                        [about-row] auto
                        [content-row] auto
                        [content-row] auto
                        [content-row] auto
                        [footer-row] auto;
}

.banner {
    background-color: #048A81;
    grid-column: one-eighty 1 / one-eighty 4;
    grid-row: banner-row / about-row 1;
    max-height: 600px;
    overflow: hidden;
    
}
.page_title {
    color:#E0CA3C ;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    grid-column: one-eighty 1 / one-eighty 4;
    grid-row: banner-row 1 / banner-row 2;
    
    margin: 0;
   
    
    

}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #93B7BE;
    grid-column: one-eighty 1 / one-eighty 4;
    grid-row: about-row / content-row 1;
}
.about p {
    margin: 10px 10px 10px 10px;
    min-width: 150px;
    min-height: 150px;
    flex-grow: 2;


    border: #2D3047 solid 1px;
    text-align: center;
    
}

.sidebar {
    background-color: #2D3047;
    grid-column: one-eighty 1 / one-eighty 2;
    grid-row: content-row 1 / content-row 2;
}

.advert {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #A799B7;
    grid-column: one-eighty 1 / one-eighty 2;
    grid-row: content-row 1 / content-row 3;

        
}

.adsRandom{
    height: 150px;
    width: 150px;
    
}

.bigAds {
    width: 100%;
    border: red solid 5px;
}


.content {
    background-color: #93B7BE;
    grid-column: one-eighty 2 / one-eighty 4;
    grid-row: content-row 1 / span content-row 2;

}

.wide-content {
    background-color: #E0CA3C;
    grid-column: one-eighty 1 / span one-eighty 3;
    grid-row: content-row 3 / footer-row;
}


/* ---------------------- Top bar --------------------------- */
/* fr unit is a fractional part of the space available  */
.top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: white;
    background-color: #181818;
}

/* -------------- Navigation bar components ----------------- */

.nav-grid {
    display: grid;
    background-color: #2D3047;
    grid-template-columns:  [logo] 1fr 
                            [navigation] 1fr
                            [navigation] 1fr 
                            [navigation] 1fr;

    grid-template-rows: [firstNav-row] auto;
                            
}

.main-navbar {
    grid-column: navigation 1 / navigation 4;
    grid-row: firstNav-row;
    padding: 50px;

}

.main-navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0 20px 0 20px;
}


.nav-logo {
    grid-column: logo 1 / navigation 1;
    grid-row: firstNav-row;
    color: #93B7BE;
    padding: 50px;
    text-align: center;
}
.nav-logo span {
    
    font-size: larger;
    font-weight: bold;
}


/*---------------- Footer bar component -------------------*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #93B7BE;
    background-color: #2D3047;
}

.copyright {
    grid-column: 2/3;
}


/*------------------------ FORMS ---------------------------*/

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}


.form-section{
    display: flex;
    width: 100%;
     
}

.form-element{
    display: flex; 
    flex-direction: column;
    width: 100%;
    
}

.form-section *{
    
    margin: 5px;
    
}



/* ------------------ BUTTONS --------------------*/

button {
    padding: 5px;

    
}


/* ajust the page to a screen resolution of 1024 and less */

@media screen and (max-width: 1024px) {



    .top-bar {
        display: none;
    }

    .sidebar {

        display: none;
    }
    
    .advert {

        display: none;
    }

    .content {

        grid-column: one-eighty 1 / one-eighty 4;
        grid-row: content-row 1 / span content-row 2;
    
    }


    .nav-grid {
        grid-template-rows: [firstNav-row] auto
                            [secondNav-row] auto;
                                
    }

    .main-navbar {
        grid-column: logo 1 / navigation 4;
        grid-row: secondNav-row;

    
    }

    .nav-logo {
        grid-column: logo 1 / navigation 4;
        grid-row: firstNav-row;

    }


}
